.content {
  border: 1px solid white;
  background-image: linear-gradient(to right, #67aeca, #675682);
  opacity: 0.9;
  position: absolute;
  left: 10vw;
  top: 15vh;
  width: 80vw;
  padding: 5px;
  border-radius: 25px;

  p {
    color: white;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 34px;
    margin: 25px;
  }
}
